    <div id="top" class="jumbotron">
      <div class="container">
        <h1>Walsh Insulation Services, Inc.</h1>
        <h2>Something here that answers the question. Am i on the correct site? Main branding message.</h2>
      </div> <!-- /.container -->
    </div> <!-- /.jumbotron -->


    <div class="container">

      <h3 id="services" class="subhead">Services</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-home"></span>
          </div>
          <h3>Service 1</h3>
          <p>This section should allow someone to answer the question do they do what I need to get done in less than 5 seconds. General categories/ or whatever is felt is a fit for the industry.</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-cloud"></span>
          </div>
          <h3>Service 2</h3>
          <p>The text for each servie should explain what the service is. Possibly tech jargon, purspose to establish industry credibility. Something more general if you believe the user viewing website won't necessarily know tech jargon and is doing intial research before passing the information on to someone that would.</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-bell"></span>
          </div>
          <h3>Service 3</h3>
          <p>After figuring out what the services are we should possibly create custom icons. Another option is use small real life pictures that represent that service. Would have to watch to make sure they still made sense when scaled down.</p>
        </div> <!-- /.benefit -->
      </div> <!-- /.row -->

      <div class="sect-border"></div>

      <h3 id="projects" class="subhead">Projects</h3>
      <div class="row">
        <div class="col-md-12">

        <!-- Manually added this directive based on https://github.com/angular-ui/bootstrap/issues/1832 to fix issues -->
        <div disable-ng-animate="true" >
			<carousel interval="myInterval" id="slideshow">
		    	<slide ng-repeat="slide in slides" active="slide.active">
		    		<img ng-src="{{slide.image}}" style="margin:auto;max-width:100%;height:auto;">
		    		<div class="carousel-caption">
		    			{{slide.text}}
		    		</div>
		    	</slide>
		    </carousel> 
 		</div>
        </div> <!-- /.col-md-12 -->
      </div> <!-- /.row -->

 	<div class="sect-border"></div>

      <h3 id="about" class="subhead">About Us</h3>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <p>Longer description of the company. Reinforce industry experiece. Company values. ect. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
        </div> <!-- /.col-md-10 -->
      </div> <!-- /.row -->

    </div> <!-- /.container -->
